/* # custom proprieties*/
:root{
    --elements-color: #FF9614;
}

/* # css reset*/

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* # generals*/

body {
    font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
}
/*titles*/
h1 {
    color: var(--elements-color);
    font-family: 'Nerko One', cursive;
    font-size: 3.5em;
    text-transform: uppercase;
    text-shadow: 1px 1px grey;
    text-align: center;
}

h2 {
    color: #4E3969;
}

h4 {
    color: #999999;
    font-weight: 300;
}

/* # utilities*/

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.bg-gray {
    background-color: #F6F5F3;
}

/*icons*/

i.yellow {
    color: var(--elements-color);
}

/* # recipe-info*/

.recipe-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.recipe-title {
    flex-basis: 50%;
}

.recipe-rate {
    flex-basis: 50%;
}

/* # Responsive */

@media screen and (min-width:768px) {
    h1 {
        text-align: left;
    }
}