/*css reset*/

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*generals*/

body {
    font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
}

h1 {
    color: #FF9614;
    font-family: 'Nerko One', cursive;
    font-size: 3.5em;
    text-transform: uppercase;
    text-shadow: 1px 1px grey;
    text-align: center;
}

/*utilities*/

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.bg-gray {
    background-color: #F6F5F3;
}

/*recipe-info*/

.recipe-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* # Responsive */

@media screen and (min-width:768px) {
    h1 {
        text-align: left;
    }
}